section.copyright.py-4.text-center.text-white .container small {
	color: #ffffff;
	font-size: 120%;
}

section.team-section.text-center.my-5 img {
	width: 150px;
}

.avatar.mx-auto {
	margin-top: 50px;
}

p.lead.mb-0 a {
	color: #fff;
	text-decoration: none;
}

.timeline {
	width: 100%;
}

.timeline.timeline-one .timeline-item {
	position: relative;
	width: 50%;
	margin-left: 50%;
	padding-bottom: 2.75rem;
	padding-left: 2.75rem;
	text-align: left;
}

@media (max-width: 767.98px) {
	.timeline.timeline-one .timeline-item {
		width: 100%;
		margin-left: 0;
	}
}

.timeline.timeline-one .timeline-item img {
	margin-bottom: 1.25rem;
}

.timeline.timeline-one .timeline-item:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
	margin-top: 0.425rem;
	margin-left: -0.5rem;
	border: 2px solid #dde1ed;
	border-radius: 50%;
}

.timeline.timeline-one .timeline-item:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: -0.1875rem;
	width: 2px;
	margin-top: 1.875rem;
	margin-left: -0.0625rem;
	background-color: #dde1ed;
}

.timeline.timeline-one .timeline-item:nth-child(2n+1) {
	margin-left: 0;
	padding-right: 2.75rem;
	padding-left: 0;
	text-align: right;
}

@media (max-width: 767.98px) {
	.timeline.timeline-one .timeline-item:nth-child(2n+1) {
		padding-right: 0;
		padding-left: 2.75rem;
		text-align: left;
	}
}

.timeline.timeline-one .timeline-item:nth-child(2n+1):before,
.timeline.timeline-one .timeline-item:nth-child(2n+1):after {
	right: 0;
	left: auto;
}

@media (max-width: 767.98px) {
	.timeline.timeline-one .timeline-item:nth-child(2n+1):before,
	.timeline.timeline-one .timeline-item:nth-child(2n+1):after {
		right: auto;
		left: 0;
	}
}

.timeline.timeline-one .timeline-item:nth-child(2n+1):before {
	margin-right: -0.5rem;
}

.timeline.timeline-one .timeline-item:nth-child(2n+1):after {
	margin-right: -0.0625rem;
}

.tooltip-inner {
	box-shadow: 0 0.5rem 1rem rgba(42, 53, 79, 0.12);
}

i.fa.fa-globe-americas {
    font-size: 40px;
}

i.fa.fa-music {
    font-size: 40px;
}

h3.font-weight-bolder {
    font-size: 2rem;
}

.console-container{
	font-size: 1em;
  }
  
  .typed-cursor{
		opacity: 1;
	  -webkit-animation: blink 0.7s infinite;
	  -moz-animation: blink 0.7s infinite;
	  animation: blink 0.7s infinite;
	   display:inline-block;
	position: relative;
  }
  
  @keyframes blink {
	0% {
	  opacity: 1;
  }
  
  50% {
	  opacity: 0;
  }
  100% {
	  opacity: 1;
  }
  }

  .console-container span#text {
    color:#4CAF50
}

button.btn.btn-success {
    display: block;
    margin: auto;
    width: 300px;
    margin-top: 50px;
}

button.btn.btn-success a {
color:#fff;
text-decoration:none
}


p.masthead-subheading.font-weight-light.mb-0.covid {
    margin-top: 40px;
    text-align: center;
}